body {
    background-color: #efeee7;
    font-family: "georgia",'Times New Roman', Times, serif;
    color: #333333;
    font-size: 18px;
    line-height: 150%;
    margin: 0px;
    padding: 0px;
    border: 0px
    }

header {
    background-color: #333333;
    }

h1 {
    color: #eee;
    font-size: 28px;
    padding: 20px;
    margin: 0px;
    text-align: center
}

h2 {
    font-size: 22px;
    }

.container {
    width: 1024px; 
    margin: 0 auto;
    }

#main-bio,
#contact-info,
#bio-image {
    float: left
}

#bio-image {
    width: 200px;
    height: 200px;
    margin-right: 20px
}

#main-bio {
    width: 67%
}

#content-info {
    width: 33%
}




